@import "./_common.module.scss";

.container {
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .signUp,
    .forgotPassword {
      font-size: 15px;
    }
  }
}